@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
}

/* 游리參왨*/
h2 {
    font-size: 50px;
    font-family: 'TTTtangsbudaejjigaeB';
    line-height: 1.3;
    word-break: keep-all;
}

.addexp {
    font-size: 20px;
    line-height: 1.3;
    margin: 20px 0 80px 0;
    word-break: keep-all;
}

.price {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.button {
    width: 150px;
    height: 40px;
    background-color: #c5dfd5;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: #6a7973 5px 5px 10px;
}

/* 游닉游닉header游닉游닉 */
header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

header .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: relative;
}

header .inner h1 {
    height: 100%;
    position: relative;
}

header .inner h1 img {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    filter: invert(100%);
}

header .inner nav {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

header .inner nav .gnb li {
    display: inline-block;
    margin-right: 60px;
}

header .inner figure {
    height: 30px;
    width: 30px;
}

header .inner figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    filter: invert(100%);
}

header .inner .allmenu {
    width: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    right: 0;
    text-align: center;
    opacity: 0;
}

header .inner .allmenu .allmenu_wrap {
    color: #333;
    line-height: 100px;
}

header .inner .allmenu .allmenu_wrap li {
    font-size: 20px;
}

header .inner .allmenu .allmenu_wrap li:hover {
    color: #fff;
    background-color: #000;
    transition: 0.3s;
}

/* 游닉游닉.main_visual游닉游닉 */
.main_visual {
    width: 100%;
    height: 100vh;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 游닉游닉.cont01游닉游닉 */
.cont01 {
    width: 100%;
    height: 80vh;
}

.cont01 .item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont01 .item figure {
    width: 50%;
    height: 80vh;
}

.cont01 .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .item .text {
    width: 50%;
    padding: 50px 120px;
}

/* 游닉游닉.cont02游닉游닉 */
.cont02 {
    width: 100%;
    height: 80vh;
}

.cont02 .item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont02 .item figure {
    width: 50%;
    height: 100%;
    order: 1;
}

.cont02 .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont02 .item .text {
    width: 50%;
    padding: 50px 120px;
}

/* 游닉游닉.cont03游닉游닉 */
.cont03 {
    background-color: rgb(217, 237, 250);
    height: 1000px;
    width: 100%;
}

.cont03 .inner {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 200px 0;
}

.cont03 .inner .item {
    width: 100%;
    height: 100%;
    display: flex;
}

.cont03 .inner figure {
    width: 800px;
    height: 600px;
}

.cont03 .inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont03 .inner .item .text {
    width: 50%;
    height: 100%;
    padding: 100px;
}

.cont03 .inner .text .imgbutton {
    width: 150px;
    height: 40px;
    background-color: #4a6391;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: #324363 5px 5px 10px;
    color: #fff;
}